<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>没事来刷题<small>1.0</small>
        </h1>
      </div>
      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">学霸来刷题</h3>
            是学霸就来刷题
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">出题给小伙伴</h3>
            出几个难题分享给小伙伴
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">获取更多快乐</h3>
            在无聊的时候刷刷题，出难题给小伙伴，快乐度过无聊时间
        </div>
      </div> 

    </div>

  </div>
</div>
