<div ui-content-for="title">
  <span ng-bind="testCtrl.titleContent"></span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
   
    <fieldset>
      <legend ng-bind="testCtrl.testItem.question"></legend>
        <div class="form-group has-success has-feedback">
        
<!--           <a ng-model="email"
                 class="form-control"
                 placeholder="Enter email">
				 A: i'd like apple
		  </a>
		  <a  ng-model="email"
                 class="form-control"
                 placeholder="Enter email">
				 B: i'd like banana
		  </a> -->
		<button ng-repeat="item in testCtrl.testItem.answer" ng-click="testCtrl.chooseAnwser(item,testCtrl.testItem,$scope)" class="form-control">
			{{ item }}
        </button>
        </div>
    </fieldset>
    <hr>
 </div>
</div>
