        <div id="footer">
            <div id="footer-inner">
                <p id="copyright">Copyright (c) <%= site.copyright.beginYear %>-<%= site.copyright.endYear %> <%= site.copyright.owner %></p>
            </div>
        </div>
        <% include footer_plugin %>
    </body>
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>    
    <script type="text/javascript" src="/assets/vendor/prettify.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
</html>
